*.mp4
*.dtset
*.dtst
*.tmp.driveupload
*.tmp.drivedownload

*.dtst
*.pyc
weights_too_heavy/
*.7z

# Yes, this below is latex's fault

docs/*.synctex.gz
docs/*.pdf
docs/*.log
docs/*.fdb_latexmk
docs/*.aux
docs/*.out
docs/*.bbl
docs/*.blg
docs/*.vrb
docs/*.fls
docs/*.nav
docs/*.snm
docs/*.toc
